<footer class="footer-section">
  <div class="container">
    <div class="blocks">
      <div class="footer-top">
        <a href="" class="logo-link logo-mobile" aria-label="Green Harvest logo"
          ><svg class="logo-mobile" width="168" height="16">
            <use href="./img/icons.svg#icon-logo-footer"></use>
          </svg>
        </a>

        <p class="footer-top-p">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-middle">
        <ul class="nav-ul">
          <li><a class="nav-a" href="#how">how it works</a></li>
          <li><a class="nav-a" href="#vegetables">vegetables</a></li>
          <li><a class="nav-a" href="#reviews">reviews</a></li>
        </ul>
        <ul class="address-ul">
          <li>
            <a class="address-a" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li>
            <a class="address-a" href=""
              >1678 S. Pioneer Road Salt Lake City UT 84104</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="privacy">
        <a href="" class="privacy-a">Privacy Policy</a>
        <span class="privacy-text">/</span>
        <a href="" class="privacy-a">Cookie settings</a>
      </div>
      <p class="footer-bottom-p">©Green Harvest 2023</p>
    </div>
  </div>
</footer>
