<div class="header-container">
  <div class="logo">
    <svg class="icon" width="18" height="18">
      <use href="./img/icons.svg#icon-logo"></use>
    </svg>
    <svg class="icon" width="168" height="18" aria-label="Green Harvest logo">
      <use href="./img/icons.svg#icon-logo-name"></use>
    </svg>
  </div>
  <div class="logo-mob">
    <svg class="icon" width="16" height="16">
      <use href="./img/icons.svg#icon-logo-mob"></use>
    </svg>
    <svg class="icon" width="148" height="16" aria-label="Green Harvest logo">
      <use href="./img/icons.svg#icon-logo-name-mob"></use>
    </svg>
  </div>

  <button class="menu-btn" type="button" onclick="ShowModal()">
    <svg class="icon" width="40" height="40">
      <use href="./img/icons.svg#icon-menu" aria-label="Open menu"></use>
    </svg>
  </button>
  <div class="backdrop" id="menu-modal">
    <nav class="nav">
      <button class="menu-btn close-btn" type="button" onclick="CloseModal()">
        <svg class="icon" width="40" height="40">
          <use href="./img/icons.svg#icon-x" aria-label="Close menu"></use>
        </svg>
      </button>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#how" class="nav-link">How It Works</a>
        </li>
        <li class="nav-item">
          <a href="#vegetables" class="nav-link">Vegetables</a>
        </li>
        <li class="nav-item">
          <a href="#reviews" class="nav-link">Reviews</a>
        </li>
      </ul>
      <a href="#order" class="nav-link nav-link-pink">Shop now</a>
    </nav>
  </div>
</div>
