<svg class="logo" width="194" height="18">
  <use href="./img/icons.svg#icon-logo"></use>
</svg>
<svg class="logo" width="40" height="40">
  <use href="./img/icons.svg#icon-hero" aria-label="Open menu"></use>
</svg>
<nav class="nav">
  <svg class="logo" width="40" height="40">
    <use href="./img/icons.svg#icon-x" aria-label="Close menu"></use>
  </svg>
  <ul class="nav-list">
    <li class="nav-item">
      <a href="#" class="nav-link">How It Works</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Vegetables</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Reviews</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link nav-link-pink">Shop now</a>
    </li>
  </ul>
</nav>
