<section class="hero-section">
  <div class="container">
    <div class="hero-wrapper">
      <h1 class="hero-title">organic vegetables to your diet today!</h1>
      <p class="hero-text">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
    </div>
    <div class="hero-img">
      <picture class="img-hero">
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/up/box-fruits@1x_webp.webp 1x,
            ./img/up/box-fruits@2x_webp.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 1280px)"
          srcset="./img/up/box-fruits@1x.jpg 1x, ./img/up/box-fruits@2x.jpg 2x"
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/up/box-fruits-tab@1x_webp.webp 1x,
            ./img/up/box-fruits-tab@2x_webp.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/up/box-fruits-tab@1x.jpg 1x,
            ./img/up/box-fruits-tab@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/up/box-fruits-mob@1x_webp.webp 1x,
            ./img/up/box-fruits-mob@2x_webp.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/up/box-fruits-mob@1x.jpg 1x,
            ./img/up/box-fruits-mob@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="img-hero"
          src="./img/up/box-fruits-mob@1x.jpg"
          alt="Box with fruits"
          width="375"
          height="370"
        />
      </picture>
    </div>
  </div>
</section>
