<section class="section-list" id="how">
  <div class="container container-wrapper">
    <h2 class="visually-hidden">How it works</h2>
    <div class="container-picture">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="./img/up/woman-deck.avif 1x, ./img/up/woman-deck@2x.avif 2x"
          type="image/avif"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/up/cooking@1x_webp.webp 1x,
            ./img/up/cooking@2x_webp.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1280px)"
          srcset="./img/up/cooking@1x.png 1x, ./img/up/cooking@2x.png 2x"
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/up/woman-tab.avif 1x, ./img/up/woman-tab@2x.avif 2x"
          type="image/avif"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/up/cooking-tab@1x_webp.webp 1x,
            ./img/up/cooking-tab@2x_webp.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/up/cooking-tab@1x.png 1x,
            ./img/up/cooking-tab@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="./img/up/woman-mob.avif 1x, ./img/up/woman-mob@2x.avif 2x"
          type="image/avif"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/up/cooking-mob@1x_webp.webp 1x,
            ./img/up/cooking-mob@2x_webp.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/up/cooking-mob@1x.png 1x,
            ./img/up/cooking-mob@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="wrapper-img"
          src="./img/up/cooking@1x.png"
          alt="Cooking woman"
          width="335"
          height="450"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="container-list">
      <h2 class="wrapper-title">
        To order your <span class="wrap-text">vegetable</span> basket, simply
        follow these <span class="wrap-text">easy steps</span>
      </h2>
      <p class="text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="wrapper">
        <li class="wrapper-list-item">
          <span class="wrapper-numbers numbers"></span>
          <p class="items">
            Just choose <span class="wrap-text-li">the vegetable</span> you want
            to order by clicking on the checkboxes
            <span class="wrap-text-li">next to it</span>.
          </p>
        </li>
        <li class="wrapper-list-item list-items">
          <span class="wrapper-numbers numbers"></span>
          <p class="items">
            Click on <span class="wrap-text-li">the basket</span> and fill out
            the form.
          </p>
        </li>
        <li class="wrapper-list-item">
          <span class="wrapper-numbers numbers"></span>
          <p class="items">
            Sit back and relax! Your
            <span class="wrap-text-li">fresh vegetables</span> basket will be
            delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
