<section class="vegetables" id="vegetables">
  <div class="vegetables-conteiner container">
      <h2 class="vegetables-title">
        organic
        <span class="vegetables-accent">vegetables</span>
      </h2>
    <div class="vegetables-pb">
      <p class="vegetables-story">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
      <button class="vegetables-btn" type="button">Shop now</button>
    </div>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h4 class="vegetables-caption">eggplant</h4>
        <p class="vegetables-price">60 UAH / kg</p>
        <img
          class="vegetables-icon"
          srcset="
            ./img/vegetables/eggplant@1x.png 1x,
            ./img/vegetables/eggplant@2x.png 2x
          "
          src="./img/vegetables/eggplant@1x.png"
          alt="fresh-eggplant"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item">
        <h4 class="vegetables-caption">leek</h4>
        <p class="vegetables-price">50 UAH / kg</p>
        <img
          class="vegetables-icon"
          srcset="
            ./img/vegetables/leek@1x.png 1x,
            ./img/vegetables/leek@2x.png 2x
          "
          src="./img/vegetables/leek@1x.png"
          alt="fresh-leek"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item">
        <h4 class="vegetables-caption">mushrooms</h4>
        <p class="vegetables-price">40 UAH / kg</p>
        <img
          class="vegetables-icon"
          srcset="
            ./img/vegetables/mushrooms@1x.png 1x,
            ./img/vegetables/mushrooms@2x.png 2x
          "
          src="./img/vegetables/mushrooms@1x.png"
          alt="fresh-mushrooms"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item">
        <h4 class="vegetables-caption">corn</h4>
        <p class="vegetables-price">60 UAH / kg</p>
        <img
          class="vegetables-icon"
          srcset="
            ./img/vegetables/corn@1x.png 1x,
            ./img/vegetables/corn@2x.png 2x
          "
          src="./img/vegetables/corn@1x.png"
          alt="fresh-corn"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item">
        <h4 class="vegetables-caption">sweet potatoes</h4>
        <p class="vegetables-price">50 UAH / kg</p>
        <img
          class="vegetables-icon"
          srcset="
            ./img/vegetables/sweet-potatoes@1x.png 1x,
            ./img/vegetables/sweet-potatoes@2x.png 2x
          "
          src="./img/vegetables/sweet-potatoes@1x.png"
          alt="fresh-sweet-potatoes"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item">
        <h4 class="vegetables-caption">carrot</h4>
        <p class="vegetables-price">40 UAH / kg</p>
        <img
          class="vegetables-icon"
          srcset="
            ./img/vegetables/carrot@1x.png 1x,
            ./img/vegetables/carrot@2x.png 2x
          "
          src="./img/vegetables/carrot@1x.png"
          alt="fresh-carrot"
          width="282"
          height="243"
        />
      </li>
    </ul>
    <div class="button-buttom">
      <button class="vegetable-btn" type="button">Shop now</button>
    </div>
  </div>
</section>
