.advertisement {
  margin: 100px 0;
}
.advertisement-wrapper {
  color: var(--text-color);
  font-size: 76px;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}
.advetrisement-discount {
  color: var(--background);
  border-radius: 12px;
  background-color: var(--secondary-brand-color);
  padding: 0 14px;
  margin-left: -14px;
}
