.footer-section {
  background: #7a3145;
  /* width: 100%; */
  padding: 16px 0;
}

.footer-section .container {
  padding-top: 80px;
}

@media only screen and (min-width: 768px) {
  .footer-section {
    padding-top: 150px;
  }
}

.blocks {
  display: flex;
  flex-wrap: wrap;
}

.footer-section .block-1 {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .footer-section .block-1 {
    margin-right: 183px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-section .block-1 {
    margin-right: 0;
  }
}

.logo-desktop {
  display: none;
}

.logo-mobile {
  display: unset;
}

@media only screen and (min-width: 768px) {
  .logo-desktop {
    display: unset;
  }

  .logo-mobile {
    display: none;
  }
}

.footer-section .logo-link {
  fill: var(--background);
}

.footer-section .block-1-p {
  color: var(--background);
  line-height: 18px;
  letter-spacing: -0.28px;
  width: 296px;
  margin-top: 16px;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .footer-section .block-1-p {
    line-height: 20px;
    letter-spacing: -0.32px;
    width: 265px;
    margin-top: 26px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-section .block-1-p {
    line-height: 16px;
  }
}

.footer-section .block-2 {
  margin: 40px 0;
}

@media only screen and (min-width: 768px) {
  .footer-section .block-2 {
    margin: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-section .block-2 {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-section .block-2 .nav-ul {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

@media only screen and (min-width: 768px) {
  .footer-section .block-2 .nav-ul {
    gap: 25px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-section .block-2 .nav-ul {
    gap: 25px;
  }
}

.footer-section .block-2 .nav-a {
  color: var(--background);
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.42px;
}

@media only screen and (min-width: 768px) {
  .footer-section .block-2 .nav-a {
    color: var(--background);
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.48px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-section .block-2 .nav-a {
  }
}

.footer-section .block-3 {
  width: 215px;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .footer-section .block-3 {
    width: 215px;
    margin-left: 448px;
    margin-top: 64px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-section .block-3 {
    width: 215px;
    margin: 0;
  }
}

.footer-section .block-3 .nav-ul {
  display: flex;
  width: 179px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

@media only screen and (min-width: 768px) {
  .footer-section .block-3 .nav-ul {
    width: 215px;
    gap: 25px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-section .block-3 .nav-ul {
    width: 215px;
    gap: 25px;
  }
}

.footer-section .block-3 .nav-a {
  color: var(--background);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.21px;
}

@media only screen and (min-width: 768px) {
  .footer-section .block-3 .nav-a {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.27px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-section .block-3 .nav-a {
  }
}

.footer-bottom {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .footer-bottom {
    justify-content: unset;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-bottom {
    margin-top: 125px;
    justify-content: space-between;
  }
}

.footer-section .privacy {
  display: flex;
  gap: 8px;
}

@media only screen and (min-width: 768px) and (max-width: 1279.98px) {
  .footer-section .privacy {
    width: 265px;
  }
}

.footer-section .privacy-a,
.footer-section .privacy-text {
  color: rgba(251, 251, 251, 0.5);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.18px;
}

@media only screen and (min-width: 768px) {
  .footer-section .privacy-a,
  .footer-section .privacy-text {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.27px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-section .privacy-a,
  .footer-section .privacy-text {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.27px;
  }
}

.footer-section .footer-bottom-p {
  color: rgba(251, 251, 251, 0.5);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.18px;
}

@media only screen and (min-width: 768px) {
  .footer-section .footer-bottom-p {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.27px;
    margin-left: 183px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-section .footer-bottom-p {
    margin-left: 0;
  }
}
