/* #region general */
body {
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 16px 24px 0;
}
/* #endregion */

/* #region reset styles */
a {
  display: block;
}

button {
  border: none;
  background-color: transparent;

  cursor: pointer;
}
/* #endregion */

/* #region logo styles*/
.logo,
.logo-mob {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: auto;
}

.logo {
  display: none;
}
/* #endregion */

/* #region icon styles*/
.icon {
  stroke: var(--background);

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo .icon {
  fill: var(--background);
}

/* #endregion */

/* #region menu styles */
.nav {
  color: var(--background);
  text-align: center;
  line-height: 1.25;
}
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

/* #endregion */

/* #region link styles */
.nav-link {
  color: inherit;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  padding: 12px;
}

.nav-link-white {
  color: var(--brand-color);
  background-color: var(--background);
}

.nav-link-pink {
  border-radius: 30px;
  padding: 16px 41px;
  margin-top: auto;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}
/* #endregion */

/* #region modal styles */
.backdrop {
  display: none;
}

.is-open {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;

  background-color: rgba(20, 20, 20, 0.4);
  height: 100%;
  width: 100%;
}

.is-open .nav {
  background-color: var(--brand-color);
  padding: 80px;

  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 14px;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 24px;
}
/* #endregion */

/* #region hover, focus and active styles */

/* #endregion */

/* #region tablet - more than 768px */
@media only screen and (min-width: 768px) {
  .header-container {
    padding: 35px 32px 0;
  }

  .logo {
    display: flex;
  }
  .logo-mob {
    display: none;
  }

  .is-open .nav {
    width: 350px;
    font-size: 16px;
  }

  .close-btn {
    position: absolute;
    top: 35px;
    right: 32px;
  }

  .nav-link-pink {
    padding: 16px 32px;
  }
}
/* #endregion */

/* #region tablet - more than 1280px */
@media only screen and (min-width: 1280px) {
  .header-container {
    padding-top: 28px;
  }

  .menu-btn {
    display: none;
  }

  .backdrop {
    display: block;
  }

  .nav {
    display: flex;
    gap: 20px;
  }

  .nav-list {
    flex-direction: row;
  }

  .nav-link-white {
    color: var(--background);
    background-color: transparent;
  }

  .nav-link-pink {
    background-color: var(--brand-color);
    color: var(--background);
  }
}
/* #endregion */

/* devices with short height - less than 375px */
@media only screen and (max-height: 375px) {
  .is-open .nav {
    padding: 50px;
  }
}
