/* #region general */
body {
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 16px 24px 0;
}
/* #endregion */

/* #region reset styles */
a {
  display: block;
}

button {
  border: none;
  background-color: transparent;

  cursor: pointer;
}
/* #endregion */

/* #region logo styles*/
.logo,
.logo-mob {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: auto;
}

.logo {
  display: none;
}
/* #endregion */

/* #region icon styles*/
.icon {
  stroke: var(--background);

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo .icon {
  fill: var(--background);
}

/* #endregion */

/* #region menu styles */
.nav {
  color: var(--background);
  text-align: center;
  line-height: 1.25;
}
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  margin-top: auto;
  margin-bottom: auto;
}

/* #endregion */

/* #region link styles */
.nav-link {
  color: inherit;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  padding: 12px;

  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-white {
  color: var(--brand-color);
  background-color: var(--background);
}

.nav-link-pink {
  border-radius: 30px;
  padding: 16px 41px;
  margin-top: auto;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}
/* #endregion */

/* #region hover, focus and active styles */
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--brand-color);
  background-color: var(--background);
}
.nav-link-white:hover,
.nav-link-white:focus,
.nav-link-white:active {
  color: rgba(122, 49, 69, 0.7);
}
/* #endregion */

/* #region animation styles */
.menu-btn {
  transition: visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open ~ .menu-btn {
  visibility: hidden;
}

.close-btn {
  visibility: hidden;
  animation: fadeOut 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open ~ .close-btn {
  z-index: 2;

  animation: fadeIn 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  animation-fill-mode: forwards;
}

.is-open ~ .close-btn {
  z-index: 2;

  transition: visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1) 1s,
    opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1) 1s;
}

.backdrop {
  animation: fadeOut 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  animation: fadeIn 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .nav {
  animation: fadeOut 1s cubic-bezier(0.4, 0, 0.2, 1),
    moveOut 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open .nav {
  animation: fadeIn 1s cubic-bezier(0.4, 0, 0.2, 1),
    moveIn 1s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes moveIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: none;
  }
}

@keyframes moveOut {
  from {
    transform: none;
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}
/* #endregion */

/* #region mobile+tablet - less than 1280px */
@media only screen and (max-width: 1279.98px) {
  /* #region modal styles */
  .backdrop {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;

    background-color: rgba(20, 20, 20, 0.4);
    height: 100%;
    width: 100%;
  }

  .nav {
    background-color: var(--brand-color);
    padding: 80px;

    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 14px;
  }

  .is-open {
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }

  .close-btn {
    position: absolute;
    top: 16px;
    right: 24px;
  }
  /* #endregion */
}
/* #endregion */

/* #region mobile - less than 768px */
@media only screen and (max-width: 767.98px) {
  .menu-btn .icon {
    transform: scale(0.8);
  }

  .nav {
    width: 100%;
  }
}
/* #endregion */

/* #region tablet - more than 768px */
@media only screen and (min-width: 768px) {
  .header-container {
    padding: 35px 32px 0;
  }

  .logo {
    display: flex;
  }
  .logo-mob {
    display: none;
  }

  .nav {
    width: 350px;
    font-size: 16px;
  }

  .close-btn {
    position: absolute;
    top: 35px;
    right: 32px;
  }

  .nav-link-pink {
    padding: 16px 32px;
    font-size: 18px;
  }
}
/* #endregion */

/* #region tablet - more than 1280px */
@media only screen and (min-width: 1280px) {
  .header-container {
    padding-top: 28px;
  }

  .menu-btn {
    display: none;
  }

  .backdrop {
    display: block;
  }

  .nav {
    display: flex;
    gap: 20px;
    width: fit-content;
  }

  .nav-list {
    flex-direction: row;
  }

  .nav-link-white {
    color: var(--background);
    background-color: transparent;
  }

  .nav-link-pink {
    color: var(--background);
    background-color: var(--brand-color);
  }

  /* #region hover, focus and active styles */
  .nav-link:hover,
  .nav-link:focus,
  .nav-link:active {
    color: var(--background);
    background-color: var(--hover-color);
  }
  /* #endregion */
}
/* #endregion */

/* devices with short height - less than 375px */
@media only screen and (max-height: 375px) {
  .is-open .nav {
    padding: 50px;
  }
}
