.header-section {
  background-color: var(--secondary-brand-color);
  width: 100%;
}

.header-section .container {
  display: flex;
  padding-right: 0;
  margin: 0 auto;
}

.hero-wrapper {
  margin-right: auto;
}
.hero-title {
  color: var(--background);
  font-size: 76px;
  line-height: 1;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  width: 502px;
  margin-top: 230px;
  margin-bottom: 136px;
  margin-left: 100px;
}

.hero-text {
  color: var(--background);
  line-height: 1.25;
  letter-spacing: -0.02em;
  width: 472px;
  margin-left: 100px;
}
