@media only screen and (min-width: 320px) {
   .section-list {
  background-image: linear-gradient(var(--secondary-brand-color), var(--secondary-brand-color));
  background-size: 100% 0%;
  background-repeat: no-repeat;
  background-position: bottom;
  }
}
@media only screen and (min-width: 768px) {
   .section-list {
      background-size: 100% 0%;
      
  }
}
@media only screen and (min-width: 1280px) {
  .section-list {
    background-size: 50.5%; 
    background-position: top right;

  }
}


.container-wrapper {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1280px) {
   .container-wrapper{
    display: flex;
    flex-direction: row;
      gap: 24px;
  }
}
.container-picture {
  max-width: 375px;
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
   .container-picture {
    max-width: 768px;
    padding: 100px 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .container-picture {
  flex-basis: 50%;
  padding: 80px 0;
  
}
}
.wrapper-img {
  width: 100%;
}
@media only screen and (min-width: 1280px) {
   .wrapper-img {
    width: 430px;
    height: 640px;
  }
}

.container-list {
  position: relative;
  padding: 80px 0;
  
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
   .container-list{
    padding: 100px 102px;
  }
}

@media only screen and (min-width: 1280px) {
  .container-list {
  flex-basis: 50%;
  padding-top: 100px;
  padding-left: 50px;
}
}
@media only screen and (min-width: 320px) and (max-width: 1279px) {
  .container-list::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      width: 100vw;
      height: 100%;
      background-color: var(--secondary-brand-color);
  
    }
}



.wrapper-title {
  margin-bottom: 20px;

  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.015em;
  text-transform: uppercase;

  color: var(--background);
}
@media only screen and (min-width: 768px) {
   .wrapper-title {
    margin-bottom: 25px;

    font-size: 32px;
    width: 500px;
  }
}


.wrap-text {
  color: rgba(251, 251, 251, 0.3);
}

.text {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.29;

  color: var(--background);
}
@media only screen and (min-width: 768px) {
   .text {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper-list {
  position: relative;
}
.wrapper-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}

.wrapper-list-item {
  display: flex;
  align-items: center;
  gap: 24px;

  padding: 12px 27px 12px 24px;
  border-radius: 15px;
  background-color: var(--background);
}
@media only screen and (min-width: 768px) {
   .wrapper-list-item {
    height: 76px;
  padding: 12px 68px 12px 24px;
  }
}
.list-items {
  padding: 12px 59px 12px 24px;
}


.items {
  font-size: 12px;
  letter-spacing: -0.02em;
  line-height: 1.17;

  color: rgba(20, 20, 20, 0.6);
}
@media only screen and (min-width: 768px) {
   .items {
    font-size: 16px;
    line-height: 1.25;
  }
}



.wrapper-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  
  color: var(--background);
  background-color: var(--brand-color);
  border-radius: 50%;
  border: 5px solid rgba(122, 49, 69, 0.30);
  background-clip: padding-box;
  flex-shrink: 0;
}

.wrap-text-li {
  font-weight: 700;
  color:var(--text-color);
}



body {
  counter-reset: section;
}
.numbers {
  counter-increment: section;
}

.numbers::before {
  content: counter(section);
}