.section-list {
  padding: 40px 0;
}

@media only screen and (min-width: 768px) {
  .section-list {
    padding: 100px 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .section-list {
    padding: 80px 0;
    background-image: linear-gradient(var(--secondary-brand-color), var(--secondary-brand-color));
    background-size: 50.4%; 
    background-repeat: no-repeat;
    background-position: top right;
  }
}



@media only screen and (min-width: 1280px) {
   .container-wrapper{
    display: flex;
      gap: 24px;
  }
}

@media only screen and (min-width: 1280px) {
  .container-picture {
  flex-basis: 50%;
}
}
.wrapper-img {
  min-width: 335px;
  height: 450px;
}

.container-list {
  flex-basis: 50%;
  padding-top: 20px;
  padding-left: 50px;
}
.wrapper-title {
  margin-bottom: 25px;
  width: 500px;

  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.015em;
  text-transform: uppercase;

  color: var(--background);
}
.wrap-text {
  color: rgba(251, 251, 251, 0.3);
}

.text {
  margin-bottom: 50px;

  color: var(--background);
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper-list {
  position: relative;
}
.wrapper-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}
.wrapper-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;

  width: 100%;
  height: 76px;
  padding: 12px 68px 12px 24px;
  border-radius: 15px;

  background-color: var(--background);
  color: rgba(20, 20, 20, 0.6);
}
.wrapper-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  
  color: var(--background);
  background-color: var(--brand-color);
  border-radius: 50%;
  border: 5px solid rgba(122, 49, 69, 0.30);
  background-clip: padding-box;
  flex-shrink: 0;
}

.wrap-text-li {
  color: var(--text-color);
}
body {
  counter-reset: section;
}
.numbers {
  counter-increment: section;
}

.numbers::before {
  content: counter(section);
}