@import url('./header.css');
@import url('./hero.css');
@import url('./howitwork.css');
@import url('./advertisement.css');
@import url('./vegetables.css');
@import url('./review.css');
@import url('./order.css');
@import url('./footer.css');

@font-face {
  font-family: 'Studio Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/studio-pro-regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Studio Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/studio-pro-bold.ttf) format('ttf');
}

:root {
  --brand-color: #7a3145;
  --secondary-brand-color: #576f35;
  --background: #fbfbfb;
  --text-color: #141414;
  --hover-color: #622133;
}

body {
  font-family: 'Studio Pro';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.02em;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
}

.container {
  width: 320px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
   .container{
    width: 768px;
  }
}
@media only screen and (min-width: 1280px) {
   .container{
    width: 1280px;
  }
}