h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.vegetables {
    background-color: var(--brand-color);
    width: 100%;
    padding: 60px 0;
}

.vegetables-section .container {
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
}

.vegetables-title {color: var(--background);
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

.vegetables-accent {
    color: rgba(251, 251, 251, 0.30);
font-size: 64px;
font-weight: 700;
line-height: 1;
letter-spacing: -0.015em;
text-transform: uppercase;
}

.vegetables-story {
    color: var(--background);
font-size: 16px;
font-weight: 400;
line-height: 1.25;
letter-spacing: -0.02em;
}

.vegetables-btn { 
    padding: 16px, 32px;
    color: var(--background);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 30px;
border: 1px solid rgba(251, 251, 251, 0.20);


  }

.vegetables-list {
    display: flex;
  flex-wrap: wrap;
  gap: 18px, 28px;
}

.vegetables-item {
    padding: 10px, 33px, 45px, 33px;
    border-radius: 40px;
background-color: var(--background);
text-align: center;
width: calc((100% - 18px * 2) / 4);
}

.vegetables-icon {
    margin: 0 auto;
}

.vegetables-caption {
    margin: 32px 0 12px;
    color: var(--brand-color);
font-family: "Studio Pro";
font-size: 32px;
font-weight: 700;
line-height: 1;
letter-spacing: -0.015em;
}

.vegetables-price {
    color: var(--text-color);
font-family: "Studio Pro";
font-size: 14px;
font-weight: 700;
line-height: 1.29;
letter-spacing: -0.015;
text-transform: uppercase;
}
